logs

.mozilla/firefox/Crash Reports/
.mozilla/firefox/Pending Pings/
.mozilla/firefox/default/activity-stream.*
.mozilla/firefox/default/AlternateServices*
.mozilla/firefox/default/broadcast*
.mozilla/firefox/default/weave*
.mozilla/firefox/default/storage*
.mozilla/firefox/default/prefs*
.mozilla/firefox/default/places*
.mozilla/firefox/default/containers*
.mozilla/firefox/default/datareporting*
.mozilla/firefox/default/gmp*
.mozilla/firefox/default/handlers*
.mozilla/firefox/default/shield*
.mozilla/firefox/default/personality*
.mozilla/firefox/default/notification*
.mozilla/firefox/default/*lock*
.mozilla/firefox/default/security*
.mozilla/firefox/default/search*
.mozilla/firefox/default/feature*
.mozilla/firefox/default/minidumps*
.mozilla/firefox/default/crashes*
.mozilla/firefox/default/times*
.mozilla/firefox/default/xul*
.mozilla/firefox/default/session*
.mozilla/firefox/default/saved*
.mozilla/firefox/default/*.txt
.mozilla/firefox/default/*.db
.mozilla/firefox/default/*.sqlite*
.mozilla/firefox/default/*.ini
.mozilla/firefox/default/*.bak
.mozilla/firefox/default/chrome_debugger_profile

.newsboat/cache.db

.config/fish/completions/
.config/fish/conf*
.config/fish/fish_variables
